

#brand .brand-top{width: 100%;height: 44px;text-align: center;font:14px/44px "";color: #F60D63}
#brand .img img{
    width: 100%;
    height: 100%;
}
#brand .brand-list{width: 100%;height:232px}
#brand span{font-size: 14px;line-height: 20px}
#brand span:nth-of-type(1){padding-left: 10px;color: #F60D63;}
#brand span:nth-of-type(3){float: right;padding-right: 10px}
