.bar .left-buttons .home-left-button{
	color:#fff;
}
.bar .buttons-right .right-buttons .home-right-button{
	color:#fff; font:12px/32px ""; background-color:rgba(255,255,255,0.3); border-top-left-radius:16px; border-bottom-left-radius:16px;padding:0 20px;
}
.bar .buttons-right .right-buttons .home-right-button i{  
	font-size:14px; margin-left:5px;
}


/*左侧导航栏*/
.menus-content{
	top:44px;
}
.menus-content .scroll-content{
	top:0;
}
.menu ion-scroll{
	height:100%;
}
.side-left .homeNav{
	display: block; width:100%; height:44px; background:#fff;
}
.side-left .homeNav .homeNav-wrapper{
	width:90%; float:right; border-bottom:1px solid #ddd; height:100%; display: -webkit-flex;
}
.side-left .homeNav .homeNav-wrapper .navImg{
	width:30px; align-self: center; margin-right:20px;
}
.side-left .homeNav .homeNav-wrapper b{
	line-height: 44px; font-weight: 300; font-family: "微软雅黑";
}
.side-left .homeNav .homeNav-wrapper b.active{
	color:rgb(255,97,154);
}


/*轮播图*/
.menus-content .scroll{
	bottom:45px; position: absolute; left: 0; top:0; width:100%;
}
.menus-content .scroll ion-scroll{
	width:100%; height:100%;
}
.menus-content .banner{
	width:100%;
}
.menus-content .banner img{
	width:100%;
}
.menus-content .slider-pager{
	bottom:15px; text-align: right; right:10px;
}
.menus-content .slider-pager .slider-pager-page{
	width:10px; height:10px; margin:0 5px; color:#fff;
}

/*二级导航*/

.menus-content .secondNav-wrapper{
	display: -webkit-flex; flex-wrap: wrap; border-bottom:10px solid #eee;
}
.menus-content .secondNav-wrapper>div{
	flex: 20%; height:50%; text-align: center; margin-top:5px;
}
.menus-content .secondNav-wrapper>div img{
	width:45px; 
}
.menus-content .secondNav-wrapper>div p{
	font-size: 12px; color:#888;
}

/*每日消息*/
.news{
	width:100%; height:44px; border-bottom:1px solid #eee; font-size: 14px; 
	line-height: 44px; padding-left: 15px; color:rgb(255,91,149);
}
.news i{
	padding-right:5px;
}

/*列表*/
.home-list .list .item{
	width:100%; height:140px; border-bottom:1px solid #eee; padding:10px; border-right:none;
}
.goods-wrapper{
	width:100%; height:100%; display: -webkit-flex;
}
.goods-wrapper img{
	width:120px; height:120px;
}
.goods-wrapper .goods-news{
	flex: 1; height:100%; padding:0 10px;
}

.goods-wrapper .goods-news .title{
	width:100%; height:50px; font-size: 14px; white-space: normal; color:#000; overflow: hidden;
	line-height: 25px;
}
.goods-wrapper .goods-news .title i:first-child{
	display: block; float: left; width: 40px; height:25px; text-align: center; 
	color:rgb(255,91,149); background:pink; border-radius: 5px; margin-right:10px;
}
.goods-wrapper .goods-news .price{
	width:100%; height: 30px; color:rgb(255,91,149); font-size: 16px; line-height: 30px;
}
.goods-wrapper .goods-news .price i:first-child{
	margin-right:10px; font-weight: 700; font-family: "微软雅黑";
}
.goods-wrapper .goods-news .price i:last-child{
	display: inline-block; padding:0 10px; height:24px; border:1px solid rgb(255,91,149);
	font-size: 14px; line-height: 22px; border-radius: 3px;
}

.goods-wrapper .goods-news .bottom{
	height: 40px; width:100%;
}
.goods-wrapper .goods-news .bottom i:first-child{
	font-size: 13px; line-height: 57px; font-family: "微软雅黑"; text-decoration: line-through;
}
.goods-wrapper .goods-news .bottom i:last-child{
	float: right; margin-top:20px;
}

/*下拉刷新图标颜色*/
.spinner{
	fill: rgb(255,91,149);
}


/*详情页头部*/
[nav-bar-transition="android"] [nav-bar="active"] .bar,.bar-header,.assertive{
	background:rgb(246,13,99);
}
.nav-bar-title{
	color:#fff; font-family: "微软雅黑"; font-size: 15px;
}

/*距离结束时间*/
.home-time{
	width:100%; height:30px; text-align: center; font-size: 13px; line-height: 30px;
	color:#aaa; 
}


.item-content{
	overflow: auto;
}
.item-box{
	margin:0; display: -webkit-flex; flex-wrap: wrap;
}
.item-box .item-wrapper{
	width:50%; background:#fff; padding-bottom:10px;
}
.item-box .item-wrapper:nth-child(even){
	padding:7px 7px 7px 14px;
}
.item-box .item-wrapper:nth-child(odd){
	padding:7px 14px 7px 7px;
}
.item-box .item-wrapper img{
	width:100%;
}
.item-box .item-wrapper .item-news{
	width:100%;
}
.item-title{
	width:100%; height: 44px; white-space: normal; font-size: 14px; line-height: 22px;
	overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
	display: -webkit-box; font-family: "微软雅黑";
}
.item-price{
	width:100%; height:22px; font-size: 14px; line-height: 22px; font-family: "微软雅黑";
	margin-top:10px;
}
.item-price span:nth-child(1){
	color:rgb(246,13,99);
}
.item-price span:nth-child(2){
	text-decoration: line-through; color:#999;
}
.item-price span:nth-child(3){
	float: right; width:40px; height:20px; text-align: center; border:1px solid rgb(246,13,99);
	line-height: 17px; border-radius: 3px; font-size: 12px; color:rgb(246,13,99);
}

/*详情页*/
.itemInfo-banner{
	width:100%; height:260px; background:#eee;
}
.itemInfo-banner>div:first-child{
	width:100%; height:100%;
}
.itemInfo-banner>div:first-child ion-slide{
	width:100%; height:100%; text-align: center;
}
.itemInfo-banner>div:first-child ion-slide img{
	height:100%;
}
.itemInfo-banner .slider-pager .slider-pager-page{
	color:#fff;
}


.itemInfo-news{
	padding:0 10px; border-bottom:5px solid #eee;
}
.itemInfo-news .itemInfo-title{
	overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
	display: -webkit-box; width:100%; height:50px; font-size: 16px; line-height: 25px;
}
.itemInfo-price p{
	margin:0; width:100%;
}
.itemInfo-price p:first-child{
	width:100%; height:40px; font-size: 20px; line-height: 40px; color:rgb(246,13,99);
	font-family: "微软雅黑";
}
.itemInfo-price p:last-child{
	width:100%; height:22px; color:#999;
}
.itemInfo-price p:last-child span{
	text-decoration: line-through;
}
