<h3 class="help-title">使用帮助</h3>
<div class="area1">
	<div>
		<img src="http://sc.seeyouyima.com/taobao/web_shopGuide56e1229be2165_90_90.png?imageView2/1/h/50/w/50/q/80">
		<p>如何购买</p>
	</div>
	<div>
		<img src="http://sc.seeyouyima.com/taobao/web_shopGuide56e122cf1a0c9_90_90.png?imageView2/1/h/50/w/50/q/80">
		<p>订单问题</p>
	</div>
	<div>
		<img src="http://sc.seeyouyima.com/taobao/web_shopGuide56e122e657d31_90_90.png?imageView2/1/h/50/w/50/q/80">
		<p>柚币商城</p>
	</div>
</div>
<h3 class="help-title">常见问题</h3>
<div class="area2">
	<div class="list">
		<h4>
			<span>|</span><span>订单物流</span>
			<span>更多</span>
		</h4>
		<div class="item item-icon-right">
			如何查看订单
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			收藏的商品在哪里
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			如何查看物流
			<i class="icon ion-ios-arrow-right"></i>
		</div>
	</div>
	<div class="list">
		<h4>
			<span>|</span><span>兑换商城</span>
			<span>更多</span>
		</h4>
		<div class="item item-icon-right">
			多久发货
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			如何修改收货地址
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			如何查看订单及物流
			<i class="icon ion-ios-arrow-right"></i>
		</div>
	</div>
	<div class="list">
		<h4>
			<span>|</span><span>售后</span>
			<span>更多</span>
		</h4>
		<div class="item item-icon-right">
			联系我们
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			如何申请淘宝客服介入
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="item item-icon-right">
			如何申请售后
			<i class="icon ion-ios-arrow-right"></i>
		</div>
	</div>
</div>







