<ul class="me-set list">
	<li class="item item-toggle">
	    接收通知
	    <label class="toggle toggle-assertive">
	        <input type="checkbox">
	        <div class="track">
	        	<div class="handle"></div>
	       	</div>
	    </label>
	</li>
	<li class="item item-toggle">
	    声音提醒
	    <label class="toggle toggle-assertive">
	        <input type="checkbox">
	        <div class="track">
	        	<div class="handle"></div>
	       	</div>
	    </label>
	</li>
	<li class="item item-toggle">
	    免打扰模式
	    <i>23:00-8:00不接受通知</i>
	    <label class="toggle toggle-assertive">
	        <input type="checkbox">
	        <div class="track">
	        	<div class="handle"></div>
	       	</div>
	    </label>
	</li>
	<li class="item item-icon-right item-icon-left">
		<b class="icon ion-social-reddit">淘宝账号未授权</b>   
	  	<span class="item-note">去授权</span>
	  	<u class="icon ion-ios-arrow-right"></u>
	</li>
	<li class="item">
		清理缓存
	</li>
	<li class="item">
		检查版本
	  	<span class="item-note">当前V1.3.2</span>
	</li>
	<li class="item">
		关于柚子街
	</li>
</ul>